* {
  box-sizing: border-box;
  margin: 0px;
}

.book-container {
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(233, 231, 231);
  justify-content: space-between;
}

.category {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}
